<li class="product-item">
  <div class="product">
      <!-- ko foreach: $parent.elems() --><!-- ko template: getTemplate() -->

<!-- ko foreach: getRegion('before_details') -->
<!-- ko template: getTemplate() -->
<span class="product-image-container" data-bind="attr: {'style': 'height: ' + getHeight($parents[1]) + 'px; width: ' + getWidth($parents[1]) + 'px;' }" style="height: 85px; width: 65px;">
<span class="product-image-wrapper">
<img data-bind="attr: {'src': getSrc($parents[1]), 'width': getWidth($parents[1]), 'height': getHeight($parents[1]), 'alt': getAlt($parents[1]), 'title': getAlt($parents[1]) }" src="https://www.safetydirect.ie/media/catalog/product/cache/d50f49bf436c1a5b84f56fb330b8cdf1/u/v/uvex_pheos_cx2_safety_glasses_3bf4.jpg" width="65" height="85" alt="Uvex Pheos CX2 Safety Glasses" title="Uvex Pheos CX2 Safety Glasses">
</span>
</span>
<!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

<div class="product-item-inner">
<div class="product-item-name-block">
<strong class="product-item-name" data-bind="text: $parent.name">Uvex Pheos CX2 Safety Glasses</strong>
<div class="details-qty">
<span class="label"><!-- ko i18n: 'Qty' --><span>Qty</span><!-- /ko --></span>
<span class="value" data-bind="text: $parent.qty">2</span>
</div>
</div>
<!-- ko foreach: getRegion('after_details') -->
<!-- ko template: getTemplate() -->
<div class="subtotal">
<!-- ko if: isPriceInclTaxDisplayed() && !getRegion('row_incl_tax') --><!-- /ko -->

<!-- ko if: isPriceInclTaxDisplayed() && getRegion('row_incl_tax') -->
<span class="price-including-tax" data-bind="attr:{'data-label': $t('Incl. Tax')}" data-label="Incl. Tax">
<!-- ko foreach: getRegion('row_incl_tax') -->
<!-- ko template: getTemplate() -->
<!-- ko if:  (isDisplayPriceWithWeeeDetails($parents[2])) --><!-- /ko -->

<!-- ko ifnot: (isDisplayPriceWithWeeeDetails($parents[2])) -->
<span class="cart-price">
<span class="price" data-bind="text: getFormattedPrice(getRowDisplayPriceInclTax($parents[2]))">€21.40</span>
</span>
<!-- /ko -->

<!--ko if:  (getWeeeTaxApplied($parents[2]).length > 0)--><!-- /ko -->
<!-- /ko -->
<!-- /ko -->
</span>
<!-- /ko -->

<!-- ko if: isPriceExclTaxDisplayed() && !getRegion('row_excl_tax') --><!-- /ko -->
<!-- ko if: isPriceExclTaxDisplayed() && getRegion('row_excl_tax') -->
<span class="price-excluding-tax" data-bind="attr:{'data-label': $t('Excl. Tax')}" data-label="Excl. Tax">
<!-- ko foreach: getRegion('row_excl_tax') -->
<!-- ko template: getTemplate() -->
<!-- ko if:  (isDisplayPriceWithWeeeDetails($parents[2])) --><!-- /ko -->

<!-- ko ifnot: (isDisplayPriceWithWeeeDetails($parents[2])) -->
<span class="cart-price">
<span class="price" data-bind="text: getFormattedPrice(getRowDisplayPriceExclTax($parents[2]))">€17.40</span>
</span>
<!-- /ko -->

<!--ko if:  (getWeeeTaxApplied($parents[2]).length > 0) --><!-- /ko -->
<!-- /ko -->
<!-- /ko -->
</span>
<!-- /ko -->
</div>
<!-- /ko -->
<!-- /ko -->
</div>

<!-- ko if: (JSON.parse($parent.options).length > 0)-->
<div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}" data-collapsible="true" role="tablist">
<span data-role="title" class="toggle" role="tab" aria-selected="false" aria-expanded="false" tabindex="0"><!-- ko i18n: 'View Details' --><span>View Details</span><!-- /ko --></span>
<div data-role="content" class="content" role="tabpanel" aria-hidden="true" style="display: none;">
<strong class="subtitle"><!-- ko i18n: 'Options Details' --><span>Options Details</span><!-- /ko --></strong>
<dl class="item-options">
<!--ko foreach: JSON.parse($parent.options)-->
<dt class="label" data-bind="text: label">Lens Colour</dt>
<!-- ko if: ($data.full_view)--><!-- /ko -->
<!-- ko ifnot: ($data.full_view)-->
<dd class="values" data-bind="html: value">Light Brown</dd>
<!-- /ko -->
<!-- /ko -->
</dl>
</div>
</div>
<!-- /ko -->
</div>
<!-- /ko --><!-- /ko -->
  </div>
</li>